/* change columns and rows and make px the same as pixel */
#pixelGrid {
  display: grid;
  grid-template-columns: repeat(32, 15px);
  grid-template-rows: repeat(32, 15px);
  gap: 0px;
  background-color: #ddd;
  padding: 10px;
}

/* original width: 20px height: 20px */
.pixel {
  width: 15px;
  height: 15px;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

#saveButton, #loadButton {
    position: relative;
    top: -4px;
    margin: 7px;
    padding: 7px;
    background-color: #4CAF50;
    color: white;
    border-radius: 5px;   
}
  
#saveButton:hover, #loadButton:hover {
    background-color: #45a049;
}

#colorPicker {
    height: 30px;
}
  